@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

*,*::before,*::after{
    margin : 0rem;
    padding : 0rem;
    box-sizing : border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
}

body h1{
    font-weight: 600;
}

body p{
    color : hsl(201, 11%, 66%);
    font-size : 1.2rem;
}

.history{
    text-align : center;
    padding-bottom : 1rem;
    background : url("./images/bg-header-desktop.png") no-repeat center center/cover;
}

@media (max-width : 1024px){
    .history{
        width : 100%;
    }
}

.copyright{
    margin-top : 5rem;
}

.history h1{
    margin : 1.2rem;
}

.history p{
    width : 50%;
    position: relative;
    left : 50%;
    transform : translateX(-50%);
    font-size : 1.2rem;
    margin : 1.5rem;
}

@media (max-width : 529px){
    .history p{
        width : 90%;
        position: relative;
        left : 50%;
        transform: translateX(-50%);
        font-size : 1rem;
        margin : 1.5rem 0rem;
    }
}

@media (min-width : 530px) and (max-width : 767px){
    .history p{
        margin : 1.5rem 0rem;
        width : 65%;
    }
}

.os .btn{
    border : none;
    padding : 1rem 3.5rem;
    border-radius : 35px;
    color : white;
    border-bottom: 4px solid rgb(81, 75, 75);
}

@media (max-width : 529px){
    #IOS-UP, #IOS-DOWN{
        margin-left : .5rem;
    }
    #MAC-UP, #MAC-DOWN{
        margin-right : .5rem;
        margin-top : .5rem;
    }
}

.os .btn:hover{
    cursor : pointer;
}

.os .btn-IOS {
    margin-right : .75rem;
}

.os .btn-MAC{
    margin-left : .75rem;
}

.os .btn-IOS{
    background-color : green;
}

.os .btn-MAC{
    background-color : blue;
}

.snippets{
    text-align : center;
    padding : 3rem 0rem;
    padding-top : 5rem;
}

.snippets h1{
    padding : .75rem;
}

.snippets p{
    width : 50%;
    position : relative;
    left : 50%;
    transform : translateX(-50%);
    font-size : 1.15rem;
    line-height: 1.75rem;
}

@media (max-width : 1024px){
    .snippets p{
        width : 75%;
    }
}

@media (max-width : 529px){
    .snippets p{
        width : 90%;
    }
}

.computer {
    padding : 1.75rem 0rem;
}

.computer img{
    height : 450px;
    width : 600px;
}


@media (max-width : 1024px){
    .computer img{
        height : 300px;
        width : 550px;
    }
}

.computer-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media (max-width : 529px){
    .computer-search{
        display: flex;
        flex-direction: column;
    }
    .computer img{
        width : 300px;
    }
}

.computer-text div{
    margin : 1.5rem 0rem;
}

.computer-text div p{
    padding : 1.5rem 0rem;
    width : 65%;
    font-size : 1.25rem;
}


@media (max-width : 1024px){
    .computer-text div p{
        padding : 1.2rem 0rem;
        width : 75%;
    }
}

.computer-text div{
    margin-left : 6rem;
}

.Access {
    margin : 5rem 0rem;
}

.Access h1{
    text-align : center;
    margin-bottom : 1.5rem;
}

.Access p{
    text-align : center;
    font-size : 1.2rem;
    width : 55%;
    position : relative;
    left : 50%;
    transform : translateX(-50%);
    line-height : 1.5rem;
}

@media (min-width : 530px) and (max-width : 767px){
    .Access p{
        width : 75%;
    }
}

@media (max-width : 529px){
    .Access p{
        width : 85%;
    }
}

.tabletImg img{
    position : relative;
    left : 50%;
    transform: translateX(-50%);
}

@media (min-width : 530px) and (max-width : 767px){
    .tabletImg img{
        height : 400px;
        width : 480px;
    }
}

@media (max-width : 529px){
    .tabletImg img{
        height : 350px;
        width : 400px;
    }
}

.charge h1{
    text-align : center;
}

.charge p{
    text-align : center;
    margin : 1.2rem;
}

.sneak-peak{
    text-align: center;
    display : flex;
    padding : 3rem 0rem;
    align-items: center;
    justify-content: space-evenly;
}


.sneak-peak div h1{
    margin : 1.25rem 0rem;
}

.sneak-peak div{
    flex : 1;
    height : 280px;
}

@media (min-width : 530px) and (max-width : 767px){
    .sneak-peak{
        display: flex;
        flex-direction: column;
    }
    .sneak-peak div{
        margin : 1rem;
    }
}

@media (max-width : 529px){
    .sneak-peak{
        display: flex;
        flex-direction: column;
    }
    .sneak-peak div{
        margin : 1rem;
    }
}

.sneak-peak div p{
    width : 70%;
    position: relative;
    left : 50%;
    transform : translateX(-50%);
}

@media (max-width : 1024px){
    .sneak-peak div{
        height : 250px;
    }
    .sneak-peak div p{
        width : 80%;
    }
}

.companies{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin : 5rem 0rem;
    margin-top : 2rem;
}


@media (max-width : 1024px){
    .companies img{
        height : 60px;
        width : 100px;
    }
}

@media (min-width : 530px) and (max-width : 767px){
    .companies{
        display: flex;
        flex-direction: column;
    }
    .companies img{
        margin : 1rem;
    }
}

@media (max-width : 529px){
    .companies{
        display: flex;
        flex-direction: column;
    }
    .companies img{
        margin : 1rem;
    }
}

.clipboard{
    text-align : center;
    margin : 5rem 0rem;
}

.clipboard p{
    margin : 1.5rem 0rem;
    width : 50%;
    position: relative;
    left : 50%;
    transform : translateX(-50%);
    line-height : 1.75rem;
    margin-bottom : 1.5rem;
}

@media (min-width : 530px) and (max-width : 767px){
    .clipboard p{
        width: 70%;
    }
}

@media (max-width : 529px){
    .clipboard p{
        width : 90%;
    }
}

.footer {
    display: flex;
    justify-content: space-evenly;
    font-size : 1.35rem;
    padding : 2rem 0rem;
    background-color : hsl(200, 16%, 85%);
}

.footer > img{
    margin-top : 1.35rem;
    height : 60px;
    width : 60px;
}

@media (min-width : 530px) and (max-width : 767px){
    .footer{
        font-size : 1rem;
    }
    .footer > img{
        height : 50px;
        width : 50px;
    }
}

.social-media{
    display: flex;
    align-items: center;
}

.social-media img{
    padding : 0rem .75rem;
}

.footer ul{
    list-style: none;
}

.footer ul li {
    padding : .75rem 0rem;
}

@media (max-width : 529px){
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size : 1rem;
    }

    .footer > img{
        position: relative;
        left : 50%;
        transform: translateX(-50%);
    }

    .footer .faq ul, .footer .kit ul, .footer .install ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .social-media{
        display: flex;
        justify-content: center;
        margin-top : .75rem;
    }
}




