*,*::before,*::after{
    margin : 0rem;
    padding : 0rem;
    box-sizing : border-box;
}

.history{
    text-align : center;
    padding-bottom : 1rem;
    background : url("./images/bg-header-desktop.png") no-repeat center center/cover;
}


.copyright{
    margin-top : 5rem;
}

.history h1{
    margin : 1.2rem;
}

.history p{
    width : 50%;
    position: relative;
    left : 50%;
    transform : translateX(-50%);
    font-size : 1.2rem;
    margin : 1rem;
}

.history .os .btn{
    border : none;
    padding : 1rem 3.5rem;
    border-radius : 35px;
    color : white;

}

.history .os .btn-IOS {
    margin-right : .75rem;
}

.history .os .btn-MAC{
    margin-left : .75rem;
}

.history .os .btn-IOS{
    background-color : green;
}

.history .os .btn-MAC{
    background-color : blue;
}

.snippets{
    background-color : violet;
    text-align : center;
    padding : 1rem 0rem;
    padding-top : 5rem;
}

.snippets h1{
    padding : .75rem;
}


.snippets p{
    width : 45%;
    background-color : orange;
    position : relative;
    left : 50%;
    transform : translateX(-50%);
    font-size : 1.15rem;
    line-height: 1.75rem;
}