*,*::before,*::after{
    margin : 0rem;
    padding : 0rem;
    box-sizing : border-box;
}

.history{
    text-align : center;
    padding-bottom : 1rem;
    background : url("./images/bg-header-desktop.png") no-repeat center center/cover;
}

.copyright{
    margin-top : 5rem;
}

.history h1{
    margin : 1.2rem;
}

.history p{
    width : 50%;
    position: relative;
    left : 50%;
    transform : translateX(-50%);
    font-size : 1.2rem;
    margin : 1.5rem;
}

.history .os .btn{
    border : none;
    padding : 1rem 3.5rem;
    border-radius : 35px;
    color : white;

}

.history .os .btn-IOS {
    margin-right : .75rem;
}

.history .os .btn-MAC{
    margin-left : .75rem;
}

.history .os .btn-IOS{
    background-color : green;
}

.history .os .btn-MAC{
    background-color : blue;
}

.snippets{
    text-align : center;
    padding : 3rem 0rem;
    padding-top : 5rem;
}

.snippets h1{
    padding : .75rem;
}

.snippets p{
    width : 50%;
    position : relative;
    left : 50%;
    transform : translateX(-50%);
    font-size : 1.15rem;
    line-height: 1.75rem;
}

.computer {
    padding : 1.75rem 0rem;
}

.computer img{
    height : 450px;
    width : 600px;
}

.computer-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.computer-text div{
    margin : 1.5rem 0rem;
}

.computer-text div p{
    padding : 1.5rem 0rem;
    width : 65%;
    font-size : 1.25rem;
}

.computer-text div{
    margin-left : 6rem;
}

.Access {
    margin : 5rem 0rem;
}

.Access h1{
    text-align : center;
    margin-bottom : 1.5rem;
}

.Access p{
    text-align : center;
    font-size : 1.2rem;
    width : 50%;
    position : relative;
    left : 50%;
    transform : translateX(-50%);
    line-height : 1.5rem;
}

.tabletImg img{
    position : relative;
    left : 50%;
    transform: translateX(-50%);
}

.charge h1{
    text-align : center;
}

.charge p{
    text-align : center;
    margin : 1.2rem;
}

.sneak-peak{
    text-align: center;
    display : flex;
    padding : 3rem 0rem;
    align-items: center;
    justify-content: space-evenly;
}

.sneak-peak div h1{
    margin : 1.25rem 0rem;
}

.sneak-peak div{
    flex : 1;
    height : 200px;
}

.sneak-peak div p{
    width : 70%;
    position: relative;
    left : 50%;
    transform : translateX(-50%);
}

